body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 243, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 251, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1017 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1018 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(50, 160, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u1020 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1021 {
  position:absolute;
  left:143px;
  top:11px;
  width:90px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  position:absolute;
  left:15px;
  top:64px;
  width:59px;
  height:17px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1025 {
  position:absolute;
  left:79px;
  top:64px;
  width:118px;
  height:17px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:15px;
  top:92px;
  width:309px;
  height:17px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1031 {
  position:absolute;
  left:15px;
  top:120px;
  width:114px;
  height:17px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u1033 {
  position:absolute;
  left:108px;
  top:116px;
  width:124px;
  height:25px;
}
#u1033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1034_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:36px;
}
#u1034 {
  position:absolute;
  left:242px;
  top:116px;
  width:26px;
  height:26px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:15px;
  top:165px;
  width:350px;
  height:323px;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1039 {
  position:absolute;
  left:43px;
  top:0px;
  width:43px;
  height:38px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1041 {
  position:absolute;
  left:86px;
  top:0px;
  width:43px;
  height:38px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1043 {
  position:absolute;
  left:129px;
  top:0px;
  width:43px;
  height:38px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1045 {
  position:absolute;
  left:172px;
  top:0px;
  width:43px;
  height:38px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1047 {
  position:absolute;
  left:215px;
  top:0px;
  width:43px;
  height:38px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u1049 {
  position:absolute;
  left:258px;
  top:0px;
  width:43px;
  height:38px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u1051 {
  position:absolute;
  left:301px;
  top:0px;
  width:44px;
  height:38px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:38px;
  width:43px;
  height:56px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1055 {
  position:absolute;
  left:43px;
  top:38px;
  width:43px;
  height:56px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1057 {
  position:absolute;
  left:86px;
  top:38px;
  width:43px;
  height:56px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1059 {
  position:absolute;
  left:129px;
  top:38px;
  width:43px;
  height:56px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1061 {
  position:absolute;
  left:172px;
  top:38px;
  width:43px;
  height:56px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1063 {
  position:absolute;
  left:215px;
  top:38px;
  width:43px;
  height:56px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1065 {
  position:absolute;
  left:258px;
  top:38px;
  width:43px;
  height:56px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u1067 {
  position:absolute;
  left:301px;
  top:38px;
  width:44px;
  height:56px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:94px;
  width:43px;
  height:56px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1071 {
  position:absolute;
  left:43px;
  top:94px;
  width:43px;
  height:56px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1073 {
  position:absolute;
  left:86px;
  top:94px;
  width:43px;
  height:56px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1075 {
  position:absolute;
  left:129px;
  top:94px;
  width:43px;
  height:56px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1077 {
  position:absolute;
  left:172px;
  top:94px;
  width:43px;
  height:56px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1079 {
  position:absolute;
  left:215px;
  top:94px;
  width:43px;
  height:56px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1081 {
  position:absolute;
  left:258px;
  top:94px;
  width:43px;
  height:56px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u1083 {
  position:absolute;
  left:301px;
  top:94px;
  width:44px;
  height:56px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:150px;
  width:43px;
  height:56px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1087 {
  position:absolute;
  left:43px;
  top:150px;
  width:43px;
  height:56px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1089 {
  position:absolute;
  left:86px;
  top:150px;
  width:43px;
  height:56px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1091 {
  position:absolute;
  left:129px;
  top:150px;
  width:43px;
  height:56px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1093 {
  position:absolute;
  left:172px;
  top:150px;
  width:43px;
  height:56px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1095 {
  position:absolute;
  left:215px;
  top:150px;
  width:43px;
  height:56px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1097 {
  position:absolute;
  left:258px;
  top:150px;
  width:43px;
  height:56px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u1099 {
  position:absolute;
  left:301px;
  top:150px;
  width:44px;
  height:56px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1101 {
  position:absolute;
  left:0px;
  top:206px;
  width:43px;
  height:56px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1103 {
  position:absolute;
  left:43px;
  top:206px;
  width:43px;
  height:56px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1105 {
  position:absolute;
  left:86px;
  top:206px;
  width:43px;
  height:56px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1107 {
  position:absolute;
  left:129px;
  top:206px;
  width:43px;
  height:56px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1109 {
  position:absolute;
  left:172px;
  top:206px;
  width:43px;
  height:56px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1111 {
  position:absolute;
  left:215px;
  top:206px;
  width:43px;
  height:56px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1113 {
  position:absolute;
  left:258px;
  top:206px;
  width:43px;
  height:56px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u1115 {
  position:absolute;
  left:301px;
  top:206px;
  width:44px;
  height:56px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1117 {
  position:absolute;
  left:0px;
  top:262px;
  width:43px;
  height:56px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1119 {
  position:absolute;
  left:43px;
  top:262px;
  width:43px;
  height:56px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1121 {
  position:absolute;
  left:86px;
  top:262px;
  width:43px;
  height:56px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1123 {
  position:absolute;
  left:129px;
  top:262px;
  width:43px;
  height:56px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1125 {
  position:absolute;
  left:172px;
  top:262px;
  width:43px;
  height:56px;
}
#u1126 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1127 {
  position:absolute;
  left:215px;
  top:262px;
  width:43px;
  height:56px;
}
#u1128 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u1129 {
  position:absolute;
  left:258px;
  top:262px;
  width:43px;
  height:56px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u1131 {
  position:absolute;
  left:301px;
  top:262px;
  width:44px;
  height:56px;
}
#u1132 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1134 {
  position:absolute;
  left:181px;
  top:506px;
  width:33px;
  height:33px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1136 {
  position:absolute;
  left:226px;
  top:506px;
  width:33px;
  height:33px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1138 {
  position:absolute;
  left:97px;
  top:514px;
  width:85px;
  height:16px;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1140 {
  position:absolute;
  left:10px;
  top:6px;
  width:33px;
  height:33px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1142 {
  position:absolute;
  left:322px;
  top:6px;
  width:33px;
  height:33px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
