body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 243, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 251, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u618 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u619 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(50, 160, 209, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u621 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u622 {
  position:absolute;
  left:150px;
  top:11px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  position:absolute;
  left:0px;
  top:129px;
  width:375px;
  height:93px;
}
#u625 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u627 {
  position:absolute;
  left:22px;
  top:147px;
  width:51px;
  height:17px;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u629 {
  position:absolute;
  left:87px;
  top:143px;
  width:149px;
  height:25px;
}
#u629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u629_input:disabled {
  color:grayText;
}
#u630_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:36px;
}
#u630 {
  position:absolute;
  left:265px;
  top:146px;
  width:26px;
  height:26px;
}
#u631 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:36px;
}
#u632 {
  position:absolute;
  left:315px;
  top:146px;
  width:26px;
  height:26px;
}
#u633 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  position:absolute;
  left:22px;
  top:191px;
  width:51px;
  height:17px;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u636 {
  position:absolute;
  left:87px;
  top:187px;
  width:149px;
  height:25px;
}
#u636_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u636_input:disabled {
  color:grayText;
}
#u637_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:36px;
}
#u637 {
  position:absolute;
  left:265px;
  top:190px;
  width:26px;
  height:26px;
}
#u638 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:36px;
  height:36px;
}
#u639 {
  position:absolute;
  left:315px;
  top:190px;
  width:26px;
  height:26px;
}
#u640 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641 {
  position:absolute;
  left:15px;
  top:235px;
  width:350px;
  height:323px;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u643 {
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u644 {
  position:absolute;
  left:43px;
  top:0px;
  width:43px;
  height:38px;
}
#u645 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u646 {
  position:absolute;
  left:86px;
  top:0px;
  width:43px;
  height:38px;
}
#u647 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u648 {
  position:absolute;
  left:129px;
  top:0px;
  width:43px;
  height:38px;
}
#u649 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u650 {
  position:absolute;
  left:172px;
  top:0px;
  width:43px;
  height:38px;
}
#u651 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u652 {
  position:absolute;
  left:215px;
  top:0px;
  width:43px;
  height:38px;
}
#u653 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
}
#u654 {
  position:absolute;
  left:258px;
  top:0px;
  width:43px;
  height:38px;
}
#u655 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u656 {
  position:absolute;
  left:301px;
  top:0px;
  width:44px;
  height:38px;
}
#u657 {
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u658 {
  position:absolute;
  left:0px;
  top:38px;
  width:43px;
  height:56px;
}
#u659 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u660 {
  position:absolute;
  left:43px;
  top:38px;
  width:43px;
  height:56px;
}
#u661 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u662 {
  position:absolute;
  left:86px;
  top:38px;
  width:43px;
  height:56px;
}
#u663 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u664 {
  position:absolute;
  left:129px;
  top:38px;
  width:43px;
  height:56px;
}
#u665 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u666 {
  position:absolute;
  left:172px;
  top:38px;
  width:43px;
  height:56px;
}
#u667 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u668 {
  position:absolute;
  left:215px;
  top:38px;
  width:43px;
  height:56px;
}
#u669 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u670 {
  position:absolute;
  left:258px;
  top:38px;
  width:43px;
  height:56px;
}
#u671 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u672 {
  position:absolute;
  left:301px;
  top:38px;
  width:44px;
  height:56px;
}
#u673 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u674 {
  position:absolute;
  left:0px;
  top:94px;
  width:43px;
  height:56px;
}
#u675 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u676 {
  position:absolute;
  left:43px;
  top:94px;
  width:43px;
  height:56px;
}
#u677 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u678 {
  position:absolute;
  left:86px;
  top:94px;
  width:43px;
  height:56px;
}
#u679 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u680 {
  position:absolute;
  left:129px;
  top:94px;
  width:43px;
  height:56px;
}
#u681 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u682 {
  position:absolute;
  left:172px;
  top:94px;
  width:43px;
  height:56px;
}
#u683 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u684 {
  position:absolute;
  left:215px;
  top:94px;
  width:43px;
  height:56px;
}
#u685 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u686 {
  position:absolute;
  left:258px;
  top:94px;
  width:43px;
  height:56px;
}
#u687 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u688 {
  position:absolute;
  left:301px;
  top:94px;
  width:44px;
  height:56px;
}
#u689 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u690 {
  position:absolute;
  left:0px;
  top:150px;
  width:43px;
  height:56px;
}
#u691 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u692 {
  position:absolute;
  left:43px;
  top:150px;
  width:43px;
  height:56px;
}
#u693 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u694 {
  position:absolute;
  left:86px;
  top:150px;
  width:43px;
  height:56px;
}
#u695 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u696 {
  position:absolute;
  left:129px;
  top:150px;
  width:43px;
  height:56px;
}
#u697 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u698 {
  position:absolute;
  left:172px;
  top:150px;
  width:43px;
  height:56px;
}
#u699 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u700 {
  position:absolute;
  left:215px;
  top:150px;
  width:43px;
  height:56px;
}
#u701 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u702 {
  position:absolute;
  left:258px;
  top:150px;
  width:43px;
  height:56px;
}
#u703 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u704 {
  position:absolute;
  left:301px;
  top:150px;
  width:44px;
  height:56px;
}
#u705 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u706 {
  position:absolute;
  left:0px;
  top:206px;
  width:43px;
  height:56px;
}
#u707 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u708 {
  position:absolute;
  left:43px;
  top:206px;
  width:43px;
  height:56px;
}
#u709 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u710 {
  position:absolute;
  left:86px;
  top:206px;
  width:43px;
  height:56px;
}
#u711 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u712 {
  position:absolute;
  left:129px;
  top:206px;
  width:43px;
  height:56px;
}
#u713 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u714 {
  position:absolute;
  left:172px;
  top:206px;
  width:43px;
  height:56px;
}
#u715 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u716 {
  position:absolute;
  left:215px;
  top:206px;
  width:43px;
  height:56px;
}
#u717 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u718 {
  position:absolute;
  left:258px;
  top:206px;
  width:43px;
  height:56px;
}
#u719 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u720 {
  position:absolute;
  left:301px;
  top:206px;
  width:44px;
  height:56px;
}
#u721 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u722 {
  position:absolute;
  left:0px;
  top:262px;
  width:43px;
  height:56px;
}
#u723 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u724 {
  position:absolute;
  left:43px;
  top:262px;
  width:43px;
  height:56px;
}
#u725 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u726 {
  position:absolute;
  left:86px;
  top:262px;
  width:43px;
  height:56px;
}
#u727 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u728 {
  position:absolute;
  left:129px;
  top:262px;
  width:43px;
  height:56px;
}
#u729 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u730 {
  position:absolute;
  left:172px;
  top:262px;
  width:43px;
  height:56px;
}
#u731 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u732 {
  position:absolute;
  left:215px;
  top:262px;
  width:43px;
  height:56px;
}
#u733 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:56px;
}
#u734 {
  position:absolute;
  left:258px;
  top:262px;
  width:43px;
  height:56px;
}
#u735 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
}
#u736 {
  position:absolute;
  left:301px;
  top:262px;
  width:44px;
  height:56px;
}
#u737 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u738 {
  position:absolute;
  left:88px;
  top:574px;
  width:200px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u740 {
  position:absolute;
  left:0px;
  top:43px;
  width:374px;
  height:86px;
  text-align:left;
}
#u741 {
  position:absolute;
  left:2px;
  top:2px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:41px;
  top:53px;
  width:320px;
  height:64px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#1296DB;
}
#u744 {
  position:absolute;
  left:14px;
  top:53px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#1296DB;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u746 {
  position:absolute;
  left:10px;
  top:6px;
  width:33px;
  height:33px;
}
#u747 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u748 {
  position:absolute;
  left:322px;
  top:6px;
  width:33px;
  height:33px;
}
#u749 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
