body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  opacity:0.7;
}
#u1 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:452px;
}
#u2 {
  position:absolute;
  left:15px;
  top:117px;
  width:345px;
  height:452px;
  opacity:0.8;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:2px;
  top:218px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:63px;
  top:294px;
  width:250px;
  height:36px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4_input:disabled {
  color:grayText;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:108px;
  top:351px;
  width:205px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u8 {
  position:absolute;
  left:63px;
  top:381px;
  width:250px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u10 {
  position:absolute;
  left:65px;
  top:345px;
  width:33px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u13 {
  position:absolute;
  left:63px;
  top:456px;
  width:250px;
  height:1px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:108px;
  top:426px;
  width:205px;
  height:30px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u16 {
  position:absolute;
  left:65px;
  top:420px;
  width:33px;
  height:33px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u18 {
  position:absolute;
  left:129px;
  top:57px;
  width:118px;
  height:118px;
}
#u19 {
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(18, 150, 219, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:88px;
  top:495px;
  width:200px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u22 {
  position:absolute;
  left:24px;
  top:197px;
  width:328px;
  height:60px;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u23 {
  position:absolute;
  left:2px;
  top:-4px;
  width:324px;
  word-wrap:break-word;
}
